NODE_ENV=development

# Server configuration
PORT=8080

# Database configuration
DB_HOST=mariadb
DB_PORT=3306
DB_NAME=tma-nestjs-db
DB_USER=tma-nestjs-user
DB_PASSWORD=tma-nestjs-secret
DB_ROOT_PASSWORD=tma-nestjs-root-secret

# Redis configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=tma-nestjs-secret
REDIS_MAXMEMORY=256mb
REDIS_MAXMEMORY_POLICY=allkeys-lru

# Logging configuration
LOG_DIR=/app/.logs
LOG_LEVEL=debug
LOG_MAX_FILES=7d
LOG_MAX_SIZE=10m
LOG_DATE_PATTERN=YYYY-MM-DD
LOG_ZIPPED_ARCHIVE=false

# Container user mapping (Linux)
LOCAL_UID=1000
LOCAL_GID=1000
