NODE_ENV=development

# Server configuration
PORT=8080

# Database configuration
DB_HOST=mariadb
DB_PORT=3306
DB_NAME=tma-nestjs-db
DB_USER=tma-nestjs-user
DB_PASSWORD=tma-nestjs-secret
DB_ROOT_PASSWORD=tma-nestjs-root-secret

# Redis configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=tma-nestjs-secret

# Container user mapping (Linux)
LOCAL_UID=1000
LOCAL_GID=1000
